<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Example App</title>
        <script type="text/javascript" src="/js/material.js"></script>
        <link rel="stylesheet" href="/css/material.css"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    </head>
    <body>
        {{{body}}}
    </body>
</html>